@font-face {
  font-family: "AvantGardeGothic";
  src: local("AvantGardeGothic"),
    url("./fonts/itc-avant-garde-gothic-lt-extra-light.ttf") format("truetype");
  font-weight: 2000;
}

@font-face {
  font-family: "JMHTypeWriter";
  src: local("JMHTypeWriter"),
    url("./fonts/JMH Typewriter.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "TropicalAsian";
  src: local("TropicalAsian"),
    url("./fonts/TropicalAsianDemoRegular-11V0.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Bellfort Bold";
  src: local("Bellfort Bold"),
    url("./fonts/Bellfort Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: #000524;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.title-responsive-font {
  font-size: 90px;
  bottom: 24px;
  font-family: "Bellfort Bold";
  letter-spacing: 2px;
  text-align: center;
}

.subtitle-responsive-font {
  bottom: 48px;
  font-family: "Bellfort Bold";
}

.logo-container-responsive-size {
  height: 100vh;
  display: flex;
  align-items: center;
}

.logo-responsive-size {
  height: 100%;
}

.quote-container {
  width: 60%;
}

.quote-text {
  font-family: "TropicalAsian";
  font-size: 74px;
  margin-top: 24px;
  color: black;
  line-height: 0.7;
}

.quote-author {
  font-family: "JMHTypeWriter";
  font-size: 32px;
  margin-top: 24px;
  text-align: right;
}

.responsive-loteria-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 48px;
  padding: 20px;
}

.hide-on-desktop {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .title-responsive-font {
    font-size: 34px;
    bottom: 96px;
  }

  .logo-responsive-size {
    height: auto;
  }

  .subtitle-responsive-font {
    font-size: 18px;
  }

  .flex-break-responsive {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 32px;
  }

  .meet-artists-responsive {
    font-size: 12px !important;
  }

  .collection-name-responsive {
    font-size: 36px !important;
  }

  .quote-container {
    width: 100%;
  }

  .quote-text {
    font-size: 36px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .quote-author {
    font-size: 16px;
    padding-right: 12px;
    margin-top: 0;
  }

  .responsive-loteria-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hide-on-desktop {
    display: block;
  }
}

.Tutorial {
  color: white;
}

.Tutorial .backhome {
  cursor: pointer;
  margin: 20px;
  color: #9ef4f7;
}

.Tutorial .tutorial-h1 {
  color: white;
  font-size: 40px;
  margin: 16px;
}

.Tutorial h2 {
  color: white;
  font-size: 20px;
  margin-left: 32px;
}

.Tutorial h3 {
  color: white;
  margin-left: 40px;
  margin-top: 24px;
}

.Tutorial .tutorial-div {
  padding-left: 48px;
  margin-bottom: 12px;
}

.Tutorial a {
  cursor: pointer;
}

.Tutorial .tutorial-span {
  color: rgb(255, 206, 71);
}
